.ClassAttributeField .FieldElements {
    display: table !important;
    border-collapse: collapse;
}

.ClassAttributeField .FieldElements .ClassAttributeItem {
    display: table-row;

}

.ClassAttributeField .FieldElements .ClassAttributeItem LABEL {
    display: table-cell;
    text-align: right;
    padding-right: 5px;
}

.ClassAttributeField .FieldElements INPUT {
    display: table-cell;
}

.ClassAttributeField .FieldElements INPUT[type='hidden'] {
    display: none;
}