body {
  background-color:#ababab;
  margin-bottom:20px;
}

.main_content {
  
/*   width:960px; */

  text-align:left;
  
  display: inline-block; 
  margin: 20px auto; 
  background: #eee; 
  border-radius: 10px; 
  padding: 15px; 

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  
  max-width:1200px;
  
}
.MenuBar {
  background-color:white;
}
.MenuBar .MenuBarComponent {
  display:inline-block;
  
}
.MenuBar .MenuBarComponent .MenuBarItemRenderer {
  display:inline-block;
  height:auto;
  padding-top:5px;
  padding-bottom:5px;
  font-size:14px;
}
.MenuBar .MenuBarComponent .MenuSeparator {
  display:inline-block;
}
.column {
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
}
.column.categories {
  max-width:180px;
}

.column.product_list {
  max-width:900px;
}

.main_content .version_label {
  text-align:right;
  
}

/* DynamicPages - content/index.php */
.DynamicPagesBean {
  display:block;
  overflow:hidden;
}
.DynamicPagesBean .photo {
  
  display:block;
}
.DynamicPagesBean .photo IMG {
/*   height:160px; */
  display:block;
  width:100%;
}
.DynamicPagesBean .PagePhotos {
  max-height:80px;
  display:block;
}
.DynamicPagesBean .PagePhotos IMG {
  height:80px;
  display:inline-block;
}
.DynamicPagesBean .item_title {
  font-size:18px;
  display:block;
  padding-top:15px;

}.DynamicPagesBean .content {
  padding-top:10px;
  padding-bottom:10px;
}
/* --DynamicPages - content/index.php */

/* mce_browser */
body.mce_browser .FormRenderer {
  width:100%;
  display:block;
}
body.mce_browser .FormRenderer .InputComponent {
  display:block;
  width:100%;
}
body.mce_browser .FormRenderer .SubmitLine {
  display:block;
  width:100%;
  text-align:right;
}
body.mce_browser .FormRenderer .SubmitLine .TextSpace {
  display:inline-block;
  
}
body.mce_browser .FormRenderer .SubmitLine .Buttons {
  display:inline-block;
}



body.products.list .ProductListItem {
  display:inline-block;
  margin:10px;
  border:1px dotted gray;
  max-width:22%;
  width:22%;
  min-width:202px;
  box-sizing:border-box;
  vertical-align:top;
}
body.products.list .ProductListItem .product_title {
  display:block;
  max-height:50px;
  height:50px;
}
body.products.list .ProductListItem A {
 text-decoration:none;
}
body.products.list .ProductListItem .color_chips  {
  display:block;
}
body.products.list .ProductListItem .color_chips  A {
  display:inline-block;
  margin-right:5px;
}
body.products.list .ProductListItem .color_chips  A IMG {
  display:block;
}
body.products.details .column.details {
  display:block;
}
body.products.details .images {
  display:inline-block;
/*   max-width:400px; */
  border:1px dotted gray;
  vertical-align:top;
  
}
body.products.details .images .image_big {
  display:block;
  float:right;
  margin-left:10px;
}
body.products.details .images .image_gallery {
  display:block;
  float:left;
}

body.products.details .images .image_gallery .list {
  display:none;
}
/*body.products.details .images .image_gallery .list:first-child {
  display:block;
}*/

body.products.details .images .image_gallery .list .item {
  display:block;
  border:1px solid transparent;
}
body.products.details .images .image_gallery .list .item[active='1'] {
  border:1px solid red;
}
body.products.details .images .image_gallery .list .item IMG {
  display:block;
}
body.products.details .product_details {
  display:inline-block;
  max-width:400px;
  border:1px dotted gray;
  vertical-align:top;
  text-align:left;
  float:right;
}
body.products.details .color_chooser {
  display:block;
  vertical-align:top;
}
body.products.details .color_chooser .color_button {
  display:inline-block;
  border:1px dotted gray;
  margin-right:5px;
}
body.products.details .color_chooser .color_button[active="1"] {
  border:1px solid red;
}
body.products.details .color_chooser .color_button IMG {
  display:block;
}
