body {
  background-color:#b9b3a3;
  margin-bottom:20px;
}

.main_content {
  
  width:960px;

  text-align:left;
  
  display: block; 
  margin: 20px auto; 
  background: #eee; 
  border-radius: 10px; 
  padding: 15px; 

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  
  max-width:960px;
  
}

.column {
  display:inline-block;
  vertical-align:top;
  
}
.column.categories {
  max-width:180px;
}

.main_content .version_label {
  text-align:right;
  
}

/* DynamicPages - content/index.php */
.DynamicPagesBean {
  display:block;
  overflow:hidden;
}
.DynamicPagesBean .photo {
  
  display:block;
}
.DynamicPagesBean .photo IMG {
/*   height:160px; */
  display:block;
  width:100%;
}
.DynamicPagesBean .PagePhotos {
  max-height:80px;
  display:block;
}
.DynamicPagesBean .PagePhotos IMG {
  height:80px;
  display:inline-block;
}
.DynamicPagesBean .item_title {
  font-size:18px;
  display:block;
  padding-top:15px;

}.DynamicPagesBean .content {
  padding-top:10px;
  padding-bottom:10px;
}
/* --DynamicPages - content/index.php */

/* mce_browser */
body.mce_browser .FormRenderer {
  width:100%;
  display:block;
}
body.mce_browser .FormRenderer .InputComponent {
  display:block;
  width:100%;
}
body.mce_browser .FormRenderer .SubmitLine {
  display:block;
  width:100%;
  text-align:right;
}
body.mce_browser .FormRenderer .SubmitLine .TextSpace {
  display:inline-block;
  
}
body.mce_browser .FormRenderer .SubmitLine .Buttons {
  display:inline-block;
}

