body {
    background-color: #ababab;
}

.main_content {

    max-width: 1045px;

    text-align: left;

    display: inline-block;
    margin: 20px;

    background: #eee;
    border-radius: 5px;
    padding: 15px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;

    margin-top: 40px;


}


.main_content .version_label {
    text-align: right;

}

/* DynamicPages - content/index.php */
.DynamicPagesBean {
    display: block;
    overflow: hidden;
}

.DynamicPagesBean .photo {

    display: block;
}

.DynamicPagesBean .photo IMG {
    /*   height:160px; */
    display: block;
    width: 100%;
}

.DynamicPagesBean .PagePhotos {
    max-height: 80px;
    display: block;
}

.DynamicPagesBean .PagePhotos IMG {
    height: 80px;
    display: inline-block;
}

.DynamicPagesBean .item_title {
    font-size: 18px;
    display: block;
    padding-top: 15px;

}

.DynamicPagesBean .content {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --DynamicPages - content/index.php */

/* mce_browser */
body.mce_browser .FormRenderer {
    width: 100%;
    display: block;
}

body.mce_browser .FormRenderer .InputComponent {
    display: block;
    width: 100%;
}

body.mce_browser .FormRenderer .SubmitLine {
    display: block;
    width: 100%;
    text-align: right;
}

body.mce_browser .FormRenderer .SubmitLine .TextSpace {
    display: inline-block;

}

body.mce_browser .FormRenderer .SubmitLine .Buttons {
    display: inline-block;
}


/* You can use the clearfix to do "layout preserving" the same way overflow: hidden does */
/* add class="clearfix" class to the parent, and remove overflow: hidden; */
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* IE < 8 */


