@font-face{
font-family:"neo-sans-intel";
src:url("../fonts/font1.eot?iefix") format("eot");}
@font-face{
font-family:"neo-sans-intel";
src:url("../fonts/font1.eot?iefix");
src:url("../fonts/font1.woff") format("woff"),url("../fonts/font1.ttf") format("truetype"),url("../fonts/font1.svg#7fb3bf0a-a48c-4d2f-9f07-bfb592e393a4") format("svg");
}

@font-face {
    font-family: 'tradegothicroman';
    src: url('../fonts/tradegothic-webfont.eot');
    src: url('../fonts/tradegothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-webfont.woff') format('woff'),
         url('../fonts/tradegothic-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-webfont.svg#tradegothicroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

.demo_arial {
  font-family:"sans";
  font-size:18px;
}

.demo_custom {
  font-family:"neo-sans-intel";
  font-size:18px;
}
.demo_gothic_normal {
  font-family:"tradegothicroman";
  font-size:18px;
}
