@import url('https://fonts.googleapis.com/css?family=Lobster');

@font-face {
    font-family: "neo-sans-intel";
    src: url("../fonts/font1.eot?iefix") format("eot");
}

@font-face {
    font-family: "neo-sans-intel";
    src: url("../fonts/font1.eot?iefix");
    src: url("../fonts/font1.woff") format("woff"), url("../fonts/font1.ttf") format("truetype"), url("../fonts/font1.svg#7fb3bf0a-a48c-4d2f-9f07-bfb592e393a4") format("svg");
}

@font-face {
    font-family: 'tradegothicroman';
    src: url('../fonts/tradegothic-webfont.eot');
    src: url('../fonts/tradegothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/tradegothic-webfont.woff') format('woff'),
    url('../fonts/tradegothic-webfont.ttf') format('truetype'),
    url('../fonts/tradegothic-webfont.svg#tradegothicroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

.main_content {
    background-color: #c5c7bd !important;
}

.container {
    display: inline-block;
    white-space: normal;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px dashed black;
}

.container.arial {
    font-family: "sans";
    font-size: 18px;
}

.container.custom {
    font-family: "neo-sans-intel";
    font-size: 18px;
}

.container.gothic {
    font-family: "tradegothicroman";
    font-size: 18px;
}

.dropcnt {
    display: block;
    height: 1.4em;
    font-size: 4em;
    overflow: hidden;
    font-family: 'Lobster';
    /*     margin-bottom: .2em; */
    padding-right: .9em;

    color: #fffbdb;
    padding-top: 0.5em;
    /*     vertical-align:top; */
    white-space: nowrap;
}

.dropcnt .image {
    display: block;
    float: left;
    /*     vertical-align:top; */
    border-radius: 0.1em;
    min-width: 1.4em;
    min-height: 1.4em;
    background-color: #edece4;
    margin-right: 0.3em;
    margin-top: -0.4em;
}

.boxshadow {
    box-shadow: 1px 1px #b6bdb0,
    2px 2px #b6bdb0,
    3px 3px #b6bdb0,
    4px 4px #b6bdb0,
    5px 5px #b6bdb0,
    6px 6px #b6bdb0,
    7px 7px #b6bdb0,
    8px 8px #b6bdb0,
    9px 9px #b6bdb0,
    10px 10px #b6bdb0,
    11px 11px #b6bdb0,
    12px 12px #b6bdb0,
    13px 13px #b6bdb0,
    14px 14px #b6bdb0,
    15px 15px #b6bdb0,
    16px 16px #b6bdb0,
    17px 17px #b6bdb0,
    18px 18px #b6bdb0,
    19px 19px #b6bdb0,
    20px 20px #b6bdb0,
    21px 21px #b6bdb0,
    22px 22px #b6bdb0,
    23px 23px #b6bdb0,
    24px 24px #b6bdb0,
    25px 25px #b6bdb0,
    26px 26px #b6bdb0,
    27px 27px #b6bdb0,
    28px 28px #b6bdb0,
    29px 29px #b6bdb0,
    30px 30px #b6bdb0,
    31px 31px #b6bdb0,
    32px 32px #b6bdb0,
    33px 33px #b6bdb0,
    34px 34px #b6bdb0,
    35px 35px #b6bdb0,
    36px 36px #b6bdb0,
    37px 37px #b6bdb0,
    38px 38px #b6bdb0,
    39px 39px #b6bdb0,
    40px 40px #b6bdb0,
    41px 41px #b6bdb0,
    42px 42px #b6bdb0,
    43px 43px #b6bdb0,
    44px 44px #b6bdb0,
    45px 45px #b6bdb0,
    46px 46px #b6bdb0,
    47px 47px #b6bdb0,
    48px 48px #b6bdb0,
    49px 49px #b6bdb0,
    50px 50px #b6bdb0;
}

.dropshadow {

    /*     font-weight: 900; */
    text-shadow: 1px 1px #b6bdb0,
    2px 2px #b6bdb0,
    3px 3px #b6bdb0,
    4px 4px #b6bdb0,
    5px 5px #b6bdb0,
    6px 6px #b6bdb0,
    7px 7px #b6bdb0,
    8px 8px #b6bdb0,
    9px 9px #b6bdb0,
    10px 10px #b6bdb0,
    11px 11px #b6bdb0,
    12px 12px #b6bdb0,
    13px 13px #b6bdb0,
    14px 14px #b6bdb0,
    15px 15px #b6bdb0,
    16px 16px #b6bdb0,
    17px 17px #b6bdb0,
    18px 18px #b6bdb0,
    19px 19px #b6bdb0,
    20px 20px #b6bdb0,
    21px 21px #b6bdb0,
    22px 22px #b6bdb0,
    23px 23px #b6bdb0,
    24px 24px #b6bdb0,
    25px 25px #b6bdb0,
    26px 26px #b6bdb0,
    27px 27px #b6bdb0,
    28px 28px #b6bdb0,
    29px 29px #b6bdb0,
    30px 30px #b6bdb0,
    31px 31px #b6bdb0,
    32px 32px #b6bdb0,
    33px 33px #b6bdb0,
    34px 34px #b6bdb0,
    35px 35px #b6bdb0,
    36px 36px #b6bdb0,
    37px 37px #b6bdb0,
    38px 38px #b6bdb0,
    39px 39px #b6bdb0,
    40px 40px #b6bdb0,
    41px 41px #b6bdb0,
    42px 42px #b6bdb0,
    43px 43px #b6bdb0,
    44px 44px #b6bdb0,
    45px 45px #b6bdb0,
    46px 46px #b6bdb0,
    47px 47px #b6bdb0,
    48px 48px #b6bdb0,
    49px 49px #b6bdb0,
    50px 50px #b6bdb0;


    /*     text-transform: uppercase; */

}

.hr {
    margin: 0px;
    padding: 0px;
    height: 0.5em;
    display: block;
    background-color: #e4e7dd;
}
