 .gallery_tape {
  border-top:1px solid #4a176e;
  border-bottom:1px solid #4a176e;
  display:table;
  padding-top:15px;
  padding-bottom:15px;
  text-align:center;
  position:relative;
  width:100%;
  
}
.gallery_tape .viewport {
  display:table-cell;
}

 .gallery_tape .button {
  display:table-cell;

  background-repeat:no-repeat;
  vertical-align:middle;
  cursor:pointer;
  position:relative;
}
 .gallery_tape .button.left {
  background-image:url("../images/demo/gallery_left.png");
  background-position:center center;
  width:32px;
  min-height:44px;
}
 .gallery_tape .button.right {
  background-image:url("../images/demo/gallery_right.png");
  background-position:center center;
  width:32px;
  min-height:44px;
}

 .gallery_tape .slots {
  display:inline-block;
  vertical-align:top;
  position:relative;
  overflow:hidden;
  width:850px;
  height:174px;
  max-height:174px;
  white-space:nowrap;

}
 .gallery_tape .slots .slot {
   
  background-color:#f2f2f2;
  padding:5px;
  
  display:inline-block;
  vertical-align:top;
  
  border:1px solid #dcdedb;
  -webkit-border-radius: 3px;
  
-moz-border-radius: 3px;
border-radius: 3px;
margin-left:2px;
margin-right:2px;

position:relative;
/*   float:left; */
}
 .gallery_tape .slots .slot IMG {
  border:1px solid #dcdedb;
  display:block;
}