.ProductListItem {
    display: inline-block;

    max-width: 23%;
    width: 23%;
    min-width: 202px;
    box-sizing: border-box;
    vertical-align: top;

    height: 288px;

    margin: 5px;
}

.ProductListItem .wrap {

    float: left;
    display: block;
    position: relative;
    background-color: white;
    min-height: 285px;
    width: 100%;
}

.ProductListItem .wrap A {
    display: block;
    overflow: hidden;
}

.ProductListItem .product_detail {
    display: block;
    padding: 5px;
}

.ProductListItem .product_detail .colors_container {
    border-bottom: 1px dotted #a6a6a6;
    display: block;
    min-height: 20px;
    padding-bottom: 5px;
}

.ProductListItem:hover .product_detail .colors {
    display: none;
}

.ProductListItem .product_detail .colors {
    font-weight: bold;
    color: #777777;
    margin: 0 0 5px 0;
}

.ProductListItem:hover .product_detail .product_name {
    white-space: normal;
}

.ProductListItem .product_detail .product_name {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ProductListItem .product_detail .sell_price {
    font-size: 13px;
    font-weight: normal;
    text-align: right;
}

.ProductListItem A {
    text-decoration: none;
}

.ProductListItem .color_chips {
    display: none;
    text-align: center;
}

.ProductListItem:hover .wrap {
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
    z-index: 1;

}

.ProductListItem:hover .color_chips {
    display: block;
}

.ProductListItem .color_chips A {
    display: inline-block;
    margin-right: 5px;
}

.ProductListItem .color_chips A IMG {
    display: block;
    max-width: 24px;
    max-height: 24px;
}

.ProductListItem .color_chips A DIV {
    display: block;
}
