body.products .main_content {
    display: table;
}

body.products .column {
    display: table-cell;
}

body.products .column.left {
    margin-right: 10px;
}

body.products .filters {
    display: inline-block;
}

body.products .filters FORM {
    display: inline-block;
}

body.products .filters .InputComponent {
    margin-top: 10px;
}

body.products .filters .InputField {
    display: inline-block;
}

body.products .filters .label {
    display: block;
}

body.products .filters .InputComponent.Slider .label {
    display: inline-block;
}

body.products .filters .InputComponent.Slider .value {
    display: inline-block;
    margin-left: 5px;
}

body.products .filters .InputComponent.Slider .InputField {
    display: block;
    margin-top: 10px;
}

body.products .filters BUTTON {
    margin-top: 20px;
}

body.products.list .ProductListItem {
    display: inline-block;

    outline: 1px dotted gray;
    max-width: 25%;
    width: 25%;
    min-width: 202px;
    box-sizing: border-box;
    vertical-align: top;

    height: 285px;


    margin: 5px;
}

body.products.list .ProductListItem .wrap {

    float: left;
    display: block;
    position: relative;
    background-color: white;
    min-height: 285px;
    width: 100%;
}

body.products.list .ProductListItem .product_detail {
    display: block;
    /*max-height:50px;
    height:50px;*/


    padding: 5px;
}

body.products.list .ProductListItem .product_detail .colors_container {
    border-bottom: 1px dotted #a6a6a6;
    display: block;
    min-height: 20px;
    padding-bottom: 5px;
}

body.products.list .ProductListItem:hover .product_detail .colors {
    display: none;
}

body.products.list .ProductListItem .product_detail .colors {
    font-weight: bold;
    color: #777777;
    margin: 0 0 5px 0;
}

body.products.list .ProductListItem:hover .product_detail .product_name {
    white-space: normal;
}

body.products.list .ProductListItem .product_detail .product_name {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 5px;
}

body.products.list .ProductListItem .product_detail .sell_price {
    font-size: 13px;
    font-weight: normal;
    text-align: right;
}

body.products.list .ProductListItem A {
    text-decoration: none;
}

body.products.list .ProductListItem .color_chips {
    display: none;
    text-align: center;
}

body.products.list .ProductListItem:hover .wrap {
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
    z-index: 1;

}

body.products.list .ProductListItem:hover .color_chips {
    display: block;
}

body.products.list .ProductListItem .color_chips A {
    display: inline-block;
    margin-right: 5px;
}

body.products.list .ProductListItem .color_chips A IMG {
    display: block;
    max-width: 24px;
    max-height: 24px;
}

body.products.list .ProductListItem .color_chips A DIV {
    display: block;
}
