@media (max-width: 630px) {
    .main_content {
        /*margin-left:0px;
        margin-right:0px;*/

        display: block;
        box-sizing: border-box;

    }

    .main_content .column {
        display: block;
        vertical-align: top;
    }

    .main_content .column.left {
        text-align: center;

        max-width: inherit;
    }

    .main_content .column.left .categories {
        display: inline-block;
        vertical-align: top;
    }

    .main_content .column.left .filters {
        display: inline-block;
        vertical-align: top;
    }
}

/*.main_content {
  margin-left:0px;
  margin-right:0px;
  background-color:white;
  width:100%;
  max-width:100%;
  box-sizing:border-box;
}


.main_content .columnn {
  width:100% !important;
  max-width:100% !important;
  display:block !important;
  box-sizing:border-box !important;
}

.main_content .KeywordSearchComponent {
  display:block !important;
  float:none !important;
  margin-top:10px;
  margin-bottom:10px;

}
.main_content .KeywordSearchComponent FORM {

  border-spacing:0px;
  
}
.PaginatorComponent .page_navigation.long{
  display:none !important;
}
.PaginatorComponent .view_mode{
  display:none !important;
}
.column.product_list {
  max-width: 100% !important;
  width:100% !important;
}
.ListView {
  display:block !important;
  max-width: 100% !important;
}
.ListView .viewport {
  text-align:center;
}
.ProductListItem {
  display:inline-block !important;
}*/
