body.related_tree .KeywordSearchComponent {
  float:right;
}

body.related_tree .KeywordSearchComponent .buttons [name='clear'] {
  display:none;
}

body.related_tree .InputComponent {
  margin-bottom:10px;
  
}
body.related_tree .InputComponent.Slider .InputField {
  margin-top:5px;
}
body.related_tree .TableView {
  width:100%;
}



body.related_tree .column.left {
  margin-right:10px;
}

body.related_tree .filters {
  display:inline-block;
}
body.related_tree .filters FORM {
  display:inline-block;
}
body.related_tree .filters .InputComponent {
  margin-top:10px;
}
body.related_tree .filters .InputField {
  display:inline-block;
}

body.related_tree .filters .label {
  display:block;
}

body.related_tree .filters .InputComponent.Slider .label  {
  display:inline-block;
}
body.related_tree .filters .InputComponent.Slider .value {
  display:inline-block;
  margin-left:5px;
}
body.related_tree .filters .InputComponent.Slider .InputField {
  display:block;
  margin-top:10px;
}
body.related_tree .filters BUTTON {
  margin-top:20px;
}

body.related_tree .ListView .viewport {
  margin-left:-5px;
  margin-right:-5px;
}
body.related_tree .ProductListItem {
  display:inline-block;
  
/*   outline:1px dotted gray; */
  max-width:23%;
  width:23%;
  min-width:202px;
  box-sizing:border-box;
  vertical-align:top;
  
  height:288px;
  

  
  margin:5px;
}
body.related_tree .ProductListItem .wrap {
  
  float:left;
  display:block;
  position:relative;
  background-color:white;
  min-height:285px;
  width:100%;
}
body.related_tree .ProductListItem .wrap A {
  display:block;
  overflow:hidden;
}
body.related_tree .ProductListItem .product_detail {
  display:block;
  /*max-height:50px;
  height:50px;*/

 
  padding:5px;
}
body.related_tree .ProductListItem .product_detail .colors_container {
  border-bottom:1px dotted #a6a6a6;
  display:block;
  min-height:20px;
  padding-bottom:5px;
}
body.related_tree .ProductListItem:hover .product_detail .colors {
  display:none;
}
body.related_tree .ProductListItem .product_detail .colors {
  font-weight:bold;
  color:#777777;
  margin: 0 0 5px 0;
}

body.related_tree .ProductListItem:hover .product_detail .product_name {
  white-space: normal;
}

body.related_tree .ProductListItem .product_detail .product_name {
   width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:5px;
  margin-bottom:5px;
}
body.related_tree .ProductListItem .product_detail .sell_price {
  font-size:13px;
  font-weight:normal;
  text-align:right;
}
body.related_tree .ProductListItem A {
 text-decoration:none;
}

body.related_tree .ProductListItem .color_chips  {
  display:none;
  text-align:center;
}
body.related_tree .ProductListItem:hover .wrap {
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
z-index:1;

}
body.related_tree .ProductListItem:hover .color_chips  {
  display:block;
}
body.related_tree .ProductListItem .color_chips  A {
  display:inline-block;
  margin-right:5px;
}
body.related_tree .ProductListItem .color_chips  A IMG {
  display:block;
  max-width:24px;
  max-height:24px;
}
body.related_tree .ProductListItem .color_chips  A DIV {
  display:block;
}

body.related_tree .filters .label {
  font-size:1.1em;
  color: #1875ac;

  font-family: 'Roboto Condensed', sans-serif;
  

}