.SourceRelatedField .FieldElements {
    display: table;
}

.SourceRelatedField .FieldElements .SourceAttributeItem {
    display: table-row;
}

.SourceRelatedField .FieldElements .SourceAttributeItem .SourceAttributeName {
    display: table-cell;
    text-align: right;
}

.SourceRelatedField .FieldElements .SourceAttributeItem .SourceAttributeUnit {
    display: table-cell;

}