.Action {
    color: #50a9f9;
    text-decoration: none;
    cursor:pointer;
}

.Action[action='Pipe'] {
    color: #cccccc;
    cursor: auto;
}

.Action[action='Row'] {
    display: block;
    cursor: auto;
}

.Action[action="Edit"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_edit.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="Delete"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_delete.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="Translate"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_edit.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="TranslateBeanField"] {
    padding-left: 24px;
    background-image: url("../images/list_actions/item_translate.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size:contain;
}
.Action[action="Clear"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_delete.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="First"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_first.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="Last"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_last.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="Previous"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_prev.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.Action[action="Next"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_next.png");
    background-repeat: no-repeat;
    background-position: left center;

}

.Action[action='inline-new'] {
    padding-left: 13px;
    background-image: url("../images/list_actions/inline-new.png");
    background-repeat: no-repeat;
    background-position: left center;

}

.Action[action="Remove"] {
    padding-left: 12px;
    background-image: url("../images/list_actions/item_delete.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.ColorButton + .Action[action='inline-new'] {
    margin-left: 5px;
}

[action="TranslateBeanField"] {
    cursor: pointer;
}
