@import url("mobile/MenuBar.css") (max-width: 768px);

@media screen and (max-width: 768px) {
    .admin_layout {
        display:flex;
        flex-direction: column;
    }
    .admin_layout .sidePane {
        height:auto;
        flex-basis: auto;
    }
    .admin_layout .sidePane .admin_header {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:0.5em;
    }
    .admin_layout .page_area {
        padding: 0.5em 0;
    }
    .admin_layout .page_area .page_caption {

    }
    .admin_layout .page_area .page_caption .page_actions {
        margin-left:0.5em;
    }
    .admin_layout .page_area .page_caption .page_filters {
        flex-direction: column;

    }

    .admin_layout .page_area .page_contents TH[column='actions'] {
        position:sticky;
        right:0;
    }
    .admin_layout .page_area .page_contents TD[column='actions'] {
        position:sticky;
        right:0;
    }

    .admin_layout .page_area .page_contents {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        flex-wrap:wrap;
    }
    .admin_layout .page_area .page_contents * {
        min-width:auto;
    }
    .admin_layout .page_area .page_contents .PageTemplate {
        display:flex;
        flex-direction: column;

        align-items:stretch;

        max-width:100%;
        width:100%;

    }
    .admin_layout .page_area .page_contents .BeanFormEditor {
        display:flex;
        flex-direction: column;

        max-width:100%;
        width:100%;

        align-items:stretch;
    }

}
