HTML {
    box-sizing: border-box;
}

BODY {

    padding: 0;
    margin: 0;

    box-sizing: border-box;

}

.admin_layout {

    display: grid;
    /*display: flex;*/
    /*flex-direction:row;*/

    grid-template-columns: 13em auto;

    grid-template-rows: 100vh;

    position: relative;
    box-sizing: border-box;

}
.admin_layout .page_area * {
    position: relative;
    box-sizing: border-box;
}

.admin_layout .sidePane {

    background-attachment: fixed;

    background-image: url("../images/admin/admin_header.png");

    position:sticky;
    left:0;
    top:0;

    display:flex;
    flex-direction:column;

    z-index:100;
    height:100vh;
    flex-basis: 13em;
}

.admin_layout .sidePane .admin_header {

    background-color: #464646;
    color: white;
    padding: 1em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}



.admin_layout .sidePane .admin_menu {
    border: 1px solid #464646;
}


.admin_layout .page_area {

    display: flex;
    flex-direction: column;

    /*full-width*/
    align-items: stretch;

    /*top*/
    justify-items: flex-start;

    /*sticky page_caption*/
    overflow: auto;

    background-color:white;
    background-origin: border-box;
    /*border:1px solid red;*/
}

.admin_layout .page_area > * {
    min-width:0;

}


.admin_layout .page_area .page_caption {

    padding:1em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-bottom: 1px solid #cccccc;

    z-index: 10;
    position:sticky;
    top:0;

    background-color:white;

    /*box-shadow: 0px 11px 20px -12px rgba(0,0,0,0.75);*/

}

.admin_layout .page_area .page_caption .page_actions {
    display: flex;
    flex-direction: row;
    align-items:center;

    gap:0.5em;
}

.admin_layout .page_area .page_caption .page_actions:empty {
    display: none;
}
.admin_layout .page_area .page_caption .page_actions .Action {

    width: 30px;
    height: 30px;

    background-size: cover;
    background-repeat: no-repeat;
}

.admin_layout .page_area .page_caption .page_actions .Action[action]:not([action='']) {
    background-repeat: no-repeat;
    /*   content: attr(title) ": ";  */
    color: transparent;
}

.admin_layout .page_area .page_caption .page_actions .Action[action='Add'] {
    background-image: url("../images/page_actions/green_plus.png");
}

.admin_layout .page_area .page_caption .page_actions .Action[action='Multi-Add'] {
    background-image: url("../images/page_actions/green_multi_plus.png");
}

.admin_layout .page_area .page_caption .page_actions .Action[action='Back'] {
    background-image: url("../images/page_actions/green_left.png");
}

.admin_layout .page_area .page_caption .page_title {
    color: #656565;
    font-size: 1.3em;
}

.admin_layout .page_area .page_caption .page_filters {

    display:flex;
    flex-direction:row;
    gap:0.5em;



}
.admin_layout .page_area .page_caption .page_filters:has(*) {
    margin-top:0.5em;
}

.admin_layout .page_area .page_contents {

    display:flex;
    flex-direction:column;

    align-items:flex-start;

    /*border:1px solid green;*/

    padding-left:1em;

    position:sticky;
    top:0;

    /*sticky table headers*/
    overflow: auto;
}

.admin_layout .page_area .page_contents .FormRenderer[layout="VBox"] .InputComponent {
    align-self:stretch;
}

.admin_layout .page_area .page_contents .TableView .Cell.Header A:not([href]) {
    cursor: default;
}
.admin_layout .page_area .page_contents .TableView .Cell.Header {
    position: sticky;
    /*left: 0;*/
    top: 0;
    border-collapse: separate;
    border-spacing: 0;

    border-bottom:0 !important;
    z-index:100;
}

.admin_layout .page_area .page_contents .TableView .ResultViewFooter {
    position:sticky;
    bottom:0;
    left:0;
    background-color:white;
    z-index:10;
    border-top:1px solid #cecece;
}

.admin_layout .page_area .TableView .viewport .ImageList {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.admin_layout .page_area .TableView .viewport .ImageList IMG {
    max-height:64px;
}

.AdminPageTemplate {
    display:flex;
    flex-direction:column;
}

.InputGroupRenderer {
    align-self:stretch;
}

.admin_layout .ConfigEditorPage {
    min-width:50%;
}