.MenuBar {

}

.MenuBarComponent {
    flex-direction: column;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-start;

    flex-grow:1;
}

.MenuBarComponent .MenuBarItemRenderer {
    border-top: 1px solid #cccccc;
    color: #517688;

    flex-flow: column wrap;

    padding:0;

    align-items:flex-start;

    width:100%;
    box-sizing:border-box;
}

.MenuBarComponent .MenuBarItemRenderer .MenuItemLink {
    padding:0.5em;
}

.MenuBarComponent .MenuBarItemRenderer[active="1"]  {
    background-color: #b9b3a3;
    color: white;
}


.MenuBarComponent .MenuBarItemRenderer[active="1"] .SubmenuRenderer {
    display:flex;

    background: white;
    color: #b9b3a3;

    position: relative;

    padding:0;
    padding-left:0.5em;

    width:100%;
    box-sizing: border-box;
    border:0;
}

.SubmenuRenderer .SubmenuItemRenderer {
    color: #666666;
    padding-left: 2px;
}

.SubmenuRenderer .SubmenuItemOuter {
    padding: 5px;
}

.MenuBarItemRenderer[active="1"] .MenuItemLink + .SubmenuRenderer {
    margin-left: 0;
    padding-left: 0;
}

.SubmenuItemRenderer[selected="1"] > .SubmenuItemOuter .SubmenuItemLink {
    text-decoration: underline;
    font-weight: bold;
}

.MenuBarItemRenderer[active="1"] .SubmenuItemRenderer .SubmenuRenderer {
    display: none;
}

.MenuBarItemRenderer[active="1"] .SubmenuItemRenderer[selected="1"] .SubmenuRenderer {
    display: flex;
}


