
.admin_layout {
    grid-template-rows: auto;
    grid-template-columns: auto;
}


.InputField.TextField input[type='text'] {
    font-size: 1.1em;
}

.InputField.SelectField SELECT {
    font-size: 1.1em;
}



.FormRenderer {
    display: block;
    border-spacing: inherit;
}

.FormRenderer[field_layout] .InputComponent {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.FormRenderer[field_layout] .InputComponent .InputLabel {
    display: block;
    text-align: left;
    padding: 0px;
    margin-bottom: 2px;
}

.FormRenderer[field_layout] .InputComponent .InputField {
    display: inline-block;
    text-align: left;
    padding: 0px;
}

.FormRenderer[field_layout] .InputComponent .InputField .addon_content {
    display: block;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.FormRenderer .SubmitLine {
    display: block;

}

.FormRenderer .SubmitLine .Buttons {
    display: inherit;
}


.GalleryViewItemRenderer {
    margin-right: 0px;
    display: block;
}

.GalleryViewItemRenderer .image_slot .ImagePopup IMG {
    width: 100%;
}


.TableView {
    display: block;
}

.TableView tbody {
    display: block;
}

.TableView TR {
    display: block;
    border-bottom: 1px dashed #50a9f9;
    padding-bottom: 5px;
    padding-top: 5px;
}

.TableView TR.odd {
    background-color: #f3f6fb;
}

/*header sorting */
.TableView tbody TR:first-child {
    text-align: center;
}

.TableView .viewport TD {
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;

}

.TableView .viewport .TableCellRenderer {
    text-align: left;


}

.TableView .viewport TD.odd {
    border: none;
    text-align: left;
}

.TableView .viewport TD.even {
    border: none;
    text-align: left;
}

.TableView .viewport TH {
    display: inline-block;
}

.TableView .viewport TD:not([title='']):before {
    content: attr(title) ": ";
}

.TableView .viewport .ImageCellRenderer {

}

.TableView .viewport .ImageCellRenderer:not([title='']):before {
    content: attr(title) ": ";
    display: block;
}

.TableView .viewport .ActionsCellRenderer {

    display: block;
    position: relative;
    text-align: right !important;

}

.TableView .viewport .ActionsCellRenderer .actions_list {
    text-align: right;
    white-space: normal;
}

.TableView .viewport .ActionsCellRenderer .actions_list .Action {
    display: inline-block;

}

.TableView .viewport .ActionsCellRenderer .actions_list .Action[action*='Separator'] {
    color: #cccccc;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 3px;
}

.TableView .viewport .ActionsCellRenderer .actions_list .Action[action='RowSeparator'] {
    display: block;
}

.TableView .viewport .ActionsCellRenderer:not([title='']):before {
    content: attr(title) ": ";
    display: block;
    text-align: center;

    color: black;
    background-color: #d3e7f9;
}

.TableView TH[column='actions'] {
    display: none;
}

.TableView .viewport .ImageList {
    display: block;
}

.TableView .viewport .ImageList .Item {
    display: inline-block;
    padding: 3px;

}
