.MenuBar {

}

.ItemList {
    flex-direction: column;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-start;

    flex-grow:1;
}

.ItemList .Item {
    border-top: 1px solid #cccccc;
    color: #517688;

    flex-flow: column wrap;

    padding:0;

    align-items:flex-start;

    width:100%;
    box-sizing:border-box;
}

.ItemList .Item .Link {
    padding:0.5em;
}

.ItemList .Item[active="1"]  {
    background-color: #b9b3a3;
    color: white;
}


.ItemList .Item[active="1"] .ItemList.Submenu {
    display:flex;

    background: white;
    color: #b9b3a3;

    position: relative;

    padding:0;
    padding-left:0.5em;

    width:100%;
    box-sizing: border-box;
    border:0;
}

.ItemList.Submenu .Item {
    color: #666666;
    padding-left: 2px;
}

.ItemList.Submenu .Outer {
    padding: 5px;
}

.Item[active="1"] .Link + .ItemList.Submenu {
    margin-left: 0;
    padding-left: 0;
}

.Item[selected="1"] > .Outer .Link {
    text-decoration: underline;
    font-weight: bold;
}

.Item[active="1"] .Item .ItemList.Submenu {
    display: none;
}

.Item[active="1"] .Item[selected="1"] .ItemList.Submenu {
    display: flex;
}


