.AdminLoginPage {
    display: grid;
    height: calc(100%);
    width: calc(100%);
    align-items: center;
    justify-content: center;
}

.AdminLoginPage .FormRenderer {
    border: 1px solid #eaeaea;
}

/*.AdminLoginPage .FormRenderer .InputComponent {*/
/*    align-self:stretch;*/
/*}*/

.AdminLoginPage .FormRenderer .InputComponent input {
    flex-basis:100%;
}

