HTML {
    box-sizing: border-box;
}

BODY {

    padding: 0;
    margin: 0;

    box-sizing: border-box;

}

.admin_layout {

    display: grid;
    /*flex-direction:row;*/
    grid-template-columns: 13em auto;

    grid-template-rows: 100vh;

}

.admin_layout .sidePane {

    box-sizing: border-box;

    background-attachment: fixed;

    background-image: url("../images/admin/admin_header.png");

    position:sticky;
    left:0;
    top:0;

    display:inline-flex;
    flex-direction:column;

    z-index:100;
}

.admin_layout .sidePane .admin_header {

    background-color: #464646;
    color: white;
    padding: 1em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}



.admin_layout .sidePane .admin_menu {
    border: 1px solid #464646;
}


.admin_layout .page_area {

    vertical-align: top;

    box-sizing: border-box;

    padding: 1em;
    margin: 0;
    padding-right:0;

    display: grid;
    grid-template-rows: auto 1fr;

    overflow: hidden;

}
.admin_layout .page_area > * {
    min-width:0;
}

.admin_layout .page_area .page_caption {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-sizing: border-box;

    border-bottom: 1px solid #cccccc;
    z-index: 10;

    gap:0.5em;

}

.admin_layout .page_area .page_caption .page_actions {
    display: flex;
    flex-direction: row;

    align-items:center;
    gap:0.5em;
}

.admin_layout .page_area .page_caption .page_actions:empty {
    display: none;
}
.admin_layout .page_area .page_caption .page_actions .Action {

    width: 30px;
    height: 30px;

    background-size: cover;
    background-repeat: no-repeat;
}

.admin_layout .page_area .page_caption .page_actions .Action[action]:not([action='']) {
    background-repeat: no-repeat;
    /*   content: attr(title) ": ";  */
    color: transparent;
}

.admin_layout .page_area .page_caption .page_actions .Action[action='Add'] {
    background-image: url("../images/page_actions/green_plus.png");
}

.admin_layout .page_area .page_caption .page_actions .Action[action='Multi-Add'] {
    background-image: url("../images/page_actions/green_multi_plus.png");
}

.admin_layout .page_area .page_caption .page_actions .Action[action='Back'] {
    background-image: url("../images/page_actions/green_left.png");
}

.admin_layout .page_area .page_caption .page_title {
    color: #656565;
    font-size: 1.3em;
}

.admin_layout .page_area .page_caption .page_filters {

    display:flex;
    flex-direction:row;
    gap:0.5em;

}
.admin_layout .page_area .page_caption .page_filters:has(*) {
    padding-bottom:0.5em;
}

.admin_layout .page_area .page_contents {
    display: block;
    overflow: auto;
    position: relative;
}


.admin_layout .page_area .page_contents .TableView TH {
    position: sticky;
    left: 0;
    top: 0;
    border-collapse: separate;
    border-spacing: 0;

    border-bottom:0 !important;
}

.admin_layout .page_area .page_contents .TableView .PaginatorBottomComponent {
    position:sticky;
    bottom:0;
    left:0;
    background-color:white;
    z-index:10;
    border-top:1px solid #cecece;
}

.admin_layout .page_area .TableView .viewport .ImageList {
    /*   max-width:120px; */
    display: inline-block;
}

.admin_layout .page_area .TableView .viewport .ImageList .Item {
    display: inline-block;
}

.admin_layout .page_area .TableView .viewport .ImageList .Item IMG {
    max-height:64px;
}

.BeanEditorPage {
    display:flex;
    flex-direction:column;
}
.BeanFormEditor {
    /*width:200px;*/
}
