.MenuBar {
    flex-flow: column wrap;
    align-items: normal;
}

.MenuBar .ItemList {

    flex-direction: column;
    flex-wrap: wrap;
}

/*all items*/
.MenuBar .ItemList .Item {
    border-top: 1px solid  #b9b3a3;
    flex-direction: column;
    padding:0;
}
.MenuBar .ItemList .Item .Link {
    padding:0.5em;
}

/*top level items only*/
.MenuBar > .ItemList > .Item {
    color:#517688;
}

/*top level selected item only*/
.MenuBar > .ItemList > .Item[active="1"] {
    background-color: #b9b3a3;
    color: white;
}

/*only active items' submenu is visible*/
.MenuBar .Item[active="1"] > .Submenu {
    display:flex;
    position:relative;
    border:none;

}

/*visible submenu items padded */
.MenuBar .Item[active="1"] > .Submenu > .Item {

    padding-left:0.5em;
    padding-right:0.5em;

    font-weight:normal;
    text-decoration:none;


}

.MenuBar .Item[active="1"] > .Submenu > .Item[active="1"] {
    font-weight:bold;

    border:0;
    border-top:1px solid #b9b3a3;

}

/*sub items of the active item*/
.MenuBar .Item[active="1"] > .Submenu > .Item[active="1"] .Item {
    border:0;
    /*color:red;*/
}







