.AdminLoginPage {
    display: grid;
    height: calc(100%);
    width: calc(100%);
    align-items: center;
    justify-content: center;
}


.FormRenderer {
    border: 1px solid #eaeaea;
    flex-grow:0;
    padding:1em;

}


.FormRenderer .Caption {
    text-transform: uppercase;
    color: #517789;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: block;
    text-align: center;
}

.FormRenderer .InputComponent input {
    flex-basis:100%;
}