.ArrayField {

    background-color: transparent !important;
    border: 0 !important;
    padding: 0 !important;

}

.ArrayField .ArrayControls {
    margin-bottom: 0.3em;
}


.ArrayField .ElementSource {
    display: none;
}

.ArrayField .ArrayContents {
    border-spacing: 0;
    position: relative;

}

.ArrayField .ArrayContents .Element {
    margin-bottom: 0.3em;
    display: block;
}

.ArrayField .ArrayContents .Element .Controls {
    display:inline-block;
}



