
.BeanTranslationDialog .Contents .Text {
    width:100%;
    height:100%;
}
.BeanTranslationDialog .Contents TABLE {

    width:100%;
    height:100%;
}

.BeanTranslationDialog .Contents TABLE .cell {
    display:table-cell !important;
}

.BeanTranslationDialog .Contents TABLE .cell.original_text {
    width:100%;
}

.BeanTranslationDialog .Contents TEXTAREA[name='original_text'] {
    width:100%;
    resize: vertical;
}

.BeanTranslationDialog .Contents TABLE .cell.original_text [role='application'] {
    width:100% !important;

}

.BeanTranslationDialog .Contents TABLE .cell.original_text [role='application'] .tox-editor-header { display:none; }

.BeanTranslationDialog .Contents TABLE .cell.translation {
    height:100%;
    width:100%;
}

.BeanTranslationDialog .Contents TABLE .cell.translation [role='application'] {
    width:100% !important;
    height:100% !important;
}


.BeanTranslationDialog .Contents TEXTAREA[name='translation'] {
    width:100%;
    height:100%;
    resize: none;
}


.BeanTranslationDialog .Container.Buttons .InputComponent[field='langID'] {
    text-align:left;
    vertical-align: middle;
}

.MessageDialog .Inner .Container.Buttons .ButtonGroup > * {

    margin-left: 0.3em;
}

/*.BeanTranslationDialog [field="langID"] {*/
/*    float: right;*/
/*}*/

/*.BeanTranslationDialog .Inner .InputComponent[field="langID"] .InputLabel {*/
/*    display: inline-block;*/
/*}*/

/*.BeanTranslationDialog .Inner .InputComponent[field="langID"] .InputField {*/
/*    display: inline-block;*/
/*}*/

/*.BeanTranslationDialog .Inner textarea[name='translation'] {*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*}*/

/*.BeanTranslationDialog .Inner .Container.Buttons {*/
/*    display: block;*/
/*    width: 100%*/
/*}*/

/*.BeanTranslationDialog .Inner .Container.Buttons [action='Translate'] {*/
/*    float: left;*/
/*}*/

/*.BeanTranslationDialog .Inner .Container.Buttons [action='Close'] {*/
/*    float: right;*/
/*}*/
