
.BeanTranslationDialog .Inner {
    min-width: 40%;
}

.BeanTranslationDialog .Inner .AjaxProgress {
    display: inline-block;
    width: 20px;
    height: 20px;

}

.BeanTranslationDialog .Inner TEXTAREA.original_text {
    border: 1px solid purple;
    background: white;
    color: black;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*.BeanTranslationDialog .Inner DIV.original_text {
  border:1px solid purple;
  background:white;
  color:black;
  overflow:scroll;
  width:500px;
    box-sizing:border-box;
  -moz-box-sizing:border-box;
  height:180px;
  display:inline-block;
}*/

.BeanTranslationDialog .Inner .InputComponent[field="langID"] {
    float: right;
}

.BeanTranslationDialog .Inner .InputComponent[field="langID"] .InputLabel {
    display: inline-block;
}

.BeanTranslationDialog .Inner .InputComponent[field="langID"] .InputField {
    display: inline-block;
}

.BeanTranslationDialog .Inner textarea[name='translation'] {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.BeanTranslationDialog .Inner .Container.Buttons {
    display: block;
    width: 100%
}

.BeanTranslationDialog .Inner .Container.Buttons [action='Translate'] {
    float: left;
}

.BeanTranslationDialog .Inner .Container.Buttons [action='Close'] {
    float: right;
}
