.BreadcrumbList {
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding:0;
    margin:0;
    list-style-type: none;
    font-size:80%;
    text-align: left;
}

.BreadcrumbList .BreadcrumbListItem {

    vertical-align:top;
    text-transform: capitalize ;

}


.BreadcrumbList .BreadcrumbListItem .Action {
    font-weight: normal;
    text-decoration: none;
    text-transform: inherit;
}

.BreadcrumbList .BreadcrumbListItem .Action SPAN {
    text-transform: inherit;

}

.BreadcrumbList .BreadcrumbListItem:after {
    content: "/";
    margin-left:0.5em;
    margin-right:0.5em;

}

.BreadcrumbList .BreadcrumbListItem:last-child:after {
    display: none;

}