.CalendarPopup {
    background: white;
    border-collapse: collapse;
    border: 1px solid black;

}

.CalendarPopup .Day {
    cursor: pointer;

    height: 1.8em;

    border-bottom: 1px solid gray;
    border-right: 1px solid gray;

    color: #4989b7;
    font-weight: normal;
}

.CalendarPopup .Day.PrevMonth {
    color: #cccccc;
    font-weight: normal;
    background: #f0f0f0;
}

.CalendarPopup .Day.NextMonth {
    color: #cccccc;
    font-weight: normal;
    background: #f0f0f0;
}

.CalendarPopup .Button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    color: #4989b7;
}

.CalendarPopup .Day.Selected {

    color: #4989b7;
    font-weight: bold;
    background: #DCE5ED;
}

.CalendarPopup .WeekdayName {

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    background: #a1b5b4;
    text-align: center;
    font-weight: normal;
    color: black;
    /*padding-left: 3px;*/
    /*padding-right: 3px;*/
    min-width: 3em;
}

.CalendarPopup .MonthYearCaption {

    height: 25px;
    text-align: center;
    font-weight: bold;
}