:root {
    --spark-button-background-color: #506266;
    --spark-button-border-color: var(--spark-button-background-color);

    --spark-button-border-radius: 0.2em;

    --spark-button-text-color: #ffffff;

    --spark-button-text-transfrom: none;
    --spark-button-text-decoration: none;
    --spark-button-font-weight: normal;
    --spark-button-font-size: 100%;

    /*submit*/
    --spark-submit-button-background-color: #f1af5b;
    --spark-submit-button-border-color: var(--spark-submit-button-background-color);

    --spark-submit-button-text-color: var(--spark-button-text-color);

    --spark-submit-button-text-transfrom: var(--spark-button-text-transfrom);
    --spark-submit-button-text-decoration: var(--spark-button-text-decoration);
    --spark-submit-button-font-weight: var(--spark-button-font-weight);
    --spark-submit-button-font-size: var(--spark-button-font-weight);
}


.ColorButton {
    display: inline-flex;
    flex-direction:row;
    flex-wrap:wrap;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;


    position: relative;


    margin:0;
    padding-inline:0;
    padding-block:0;

    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:0.5em;
    padding-right:0.5em;

    min-width: 5em !important;

    border-radius: var(--spark-button-border-radius);

    font-size: var(--spark-button-font-size);
    font-weight: var(--spark-button-font-weight);

    text-decoration: var(--spark-button-text-decoration);
    text-transform: var(--spark-button-text-transfrom);

    color: var(--spark-button-text-color);
    border: 1px solid var(--spark-button-border-color);
    background-color: var(--spark-button-background-color);

    cursor: pointer;
    outline: none;
}

.ColorButton:hover {

    box-shadow: 0 0 0.1em 0.1em var(--spark-button-background-color);

}

.ColorButton[action="submit"] , .ColorButton[type="submit"]  {
    color: var(--spark-submit-button-text-color);
    border: 1px solid var(--spark-submit-button-border-color);
    background-color: var(--spark-submit-button-background-color);
    /*linear-gradient(var(--spark-submit-button-background-from), var(--spark-submit-button-background-to));*/


    font-size: var(--spark-submit-button-font-size);
    font-weight: var(--spark-submit-button-font-weight);

    text-decoration: var(--spark-submit-button-text-decoration);
    text-transform: var(--spark-submit-button-text-transfrom);
}
.ColorButton[action="submit"]:hover , .ColorButton[type="submit"]:hover  {
    box-shadow: 0 0 0.1em 0.1em var(--spark-submit-button-background-color);
}