:root {
    --spark-button-background-color: #506266;
    --spark-submit-button-background-color: #f1af5b;
    --spark-submit-button-border-color: #ac5c05;
    --spark-submit-button-background-from: #f9a541;
    --spark-submit-button-background-to: #f78f14;
}
INPUT[type="submit"]::-moz-focus-inner, INPUT[type="button"]::-moz-focus-inner, A {
    border: 0;
}

/*for IE8 */
INPUT[type="submit"]:focus, INPUT[type="button"]:focus, A {
    outline: none;
}


.ColorButton {
    display: inline-block;
    position: relative;

    text-align: center;
    vertical-align: text-bottom;

    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border: 1px solid #0c2226;

    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;

    outline: none;

    font-size: 100%;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;

    color: #fff;
    background-color: var(--spark-button-background-color);

    cursor: pointer;

    min-width:5em;
}
A.ColorButton {
    padding-top: 0.2em;
    text-decoration:none !important;
}
A.ColorButton:link {

}

A.ColorButton:visited {
    color: #fff;
}

.ColorButton:hover {
    color: #fff;


    -moz-box-shadow: 0 0 0.1em 0.1em #667d85;
    -webkit-box-shadow: 0 0 0.1em 0.1em #667d85;
    box-shadow: 0 0 0.1em 0.1em #667d85;

    outline: none;
}

.ColorButton:active {
    color: #fff;

    -webkit-box-shadow: inset 0 0 0.1em 0.1em #0c2226;
    -moz-box-shadow: inset 0 0 0.1em 0.1em #0c2226;
    box-shadow: inset 0 0 0.1em 0.1em #0c2226;
    outline: none;
}




TD.input_field {
    vertical-align: middle;
}

.button_remove_array_field {
    display: inline-block;
    vertical-align: middle;
}

.ColorButton[action="submit"]  {
    border-color: var(--spark-submit-button-border-color);
    background-color: var(--spark-button-background-color);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(var(--spark-submit-button-background-from)), to(var(--spark-submit-button-background-to)));
    background: -webkit-linear-gradient(var(--spark-submit-button-background-from), var(--spark-submit-button-background-to));
    background: -moz-linear-gradient(var(--spark-submit-button-background-from), var(--spark-submit-button-background-to));
    background: -ms-linear-gradient(var(--spark-submit-button-background-from), var(--spark-submit-button-background-to));
    background: -o-linear-gradient(var(--spark-submit-button-background-from), var(--spark-submit-button-background-to));
    background: linear-gradient(var(--spark-submit-button-background-from), var(--spark-submit-button-background-to));
}
