.FormRenderer[layout="HBox"] {
    display:inline-grid;
    grid-template-columns: auto auto;
    column-gap: 0.25em;
    row-gap: 0.5em;

    align-items: center;

}

.FormRenderer[layout="HBox"] .InputComponent {
    display: contents;
}

.FormRenderer[layout="HBox"] .InputLabel {

    text-align: right;
}

.FormRenderer[layout="HBox"] .SubmitLine {
    grid-column: 1/-1;

    display:flex;
    justify-self: stretch;

    gap:0.5em;
}

.FormRenderer[layout="HBox"]  .SubmitLine .TextSpace {

    display:inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex-grow:1;

    align-items:flex-start;

    gap:0.5em;

}

.FormRenderer[layout="HBox"]  .SubmitLine .Buttons {

    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items:flex-end;

    gap:0.5em;
}




