.FormRenderer[layout="VBox"] {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.5em;
    align-items:flex-start;

}

.FormRenderer[layout="VBox"] .InputComponent {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.1em;
}

.FormRenderer[layout="VBox"] .SubmitLine {

    display:flex;
    flex-direction: row;

    gap:1em;

    align-self: stretch;
}

.FormRenderer[layout="VBox"]  .SubmitLine .TextSpace {
    flex-grow:1;

    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
}

.FormRenderer[layout="VBox"]  .SubmitLine .Buttons {

    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: flex-end;
    gap:0.5em;
}

