@import url("FormRendererHBox.css");
@import url("FormRendererVBox.css");

.FormRenderer {
    display: inline-grid;
    text-align: left;
}

.InputGroupRenderer {
    margin-bottom:30px;
    padding-top:20px;
    border:1px solid #bababa;

    display:flex;
    flex-direction: column;
}

.InputGroupRenderer LEGEND {

}

.InputComponent {
    box-sizing: border-box;
}

.InputComponent.Hidden {
    display:none;
}
.InputComponent.Hidden * {
    display: none;
}
.InputComponent.Hidden * {
    display: none;
}


