.FormRenderer.AuthFormRenderer .InputComponent[field='rand'] {
    display: none;
}

.FormRenderer.AuthFormRenderer .InputComponent[field='pass'] {
    display: none;
}

.FormRenderer {
    display: table;
    border-spacing: 0.5em;
    border-collapse: separate;
    text-align: left;
}

.FormRenderer[layout="HBox"] .InputComponent {
    display: table-row;
}

.FormRenderer[layout="HBox"] .InputComponent .InputLabel {
    display: table-cell;
    text-align: right;

    vertical-align: middle;
}

.FormRenderer[layout="HBox"] .InputComponent .InputField {
    display: table-cell;
    text-align: left;

    vertical-align: middle;
}


.FormRenderer[layout="HBox"] .InputComponent .content_after {
    display: table-cell;
    text-align: left;

    vertical-align: middle;
}

.FormRenderer[layout="HBox"] .InputComponent .content_before {
    display: table-cell;
    text-align: left;

    vertical-align: middle;
}

/*HBOX Array*/

.FormRenderer[layout="HBox"] .ArrayContents:empty {
    display: none;
}

.FormRenderer[layout="HBox"] .ArrayContents {
    display: table;
    border-spacing: 0.2em;
    border-collapse: separate;
}

.FormRenderer[layout="HBox"] .ArrayContents .Element {
    display: table-row;
}

.FormRenderer[layout="HBox"] .ArrayContents .Element > * {
    display: table-cell;
    vertical-align: middle;
}

/*vbox*/

.FormRenderer[layout="VBox"] .InputComponent {

    display: block;

}

.FormRenderer[layout="VBox"] .InputComponent .InputField {
    display: block;

}

.FormRenderer[layout="VBox"] .InputComponent .InputLabel {
    display: inline-block;
    text-align: left;
}

.FormRenderer[layout="VBox"] .InputComponent .content_after {
    display: inline-block;
    text-align: left;
}

.FormRenderer[layout="VBox"] .InputComponent .content_before {
    display: inline-block;
    text-align: left;
}

/* vbox */

.FormRenderer .SubmitLine {
    display: table-row;

}

.FormRenderer .SubmitLine .TextSpace {

    text-align: left;
    vertical-align: middle;
    display:table-cell;
}

.FormRenderer .SubmitLine .Buttons {

    text-align: right;
    vertical-align: middle;
    display:table-cell;
}

.FormRenderer .SubmitLine .Buttons>* {
    margin-left:0.5em;
    margin-left:0em;
}





