@import url("FormRendererHBox.css");
@import url("FormRendererVBox.css");

.FormRenderer {
    min-width:0;
    white-space: wrap;
}
.FormRenderer * {
    min-width:0;
    white-space: wrap;
}


.InputComponent {
    box-sizing: border-box;
}

.InputComponent.Hidden {
    display:none;
}
.InputComponent.Hidden * {
    display: none;
}
.InputComponent.Hidden * {
    display: none;
}

.InputGroupRenderer {

    border:1px solid #bababa;

    display:inline-flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-self:stretch;

    gap:1em;

}

.InputGroupRenderer LEGEND {
    text-align:right;
    font-weight:bold;
}

