
.GalleryViewItem {

    vertical-align: top;
    border: 1px dotted #efefef;

    display: inline-block;

    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */

    text-align: center;
    /*   border:1px dotted red; */
    margin-top: 10px;
    margin-right: 10px;

}

.GalleryViewItem .header {
    display: block;
    padding: 0.5em;
    background-color: #efefef;
    color: black;
    text-align:center;
}

.GalleryViewItem .header .item_position {

}

.GalleryViewItem .header .item_actions {

}


.GalleryViewItem .image_slot {
    position: relative;
    /*   display:inline-block; */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width:256px;
    height:256px;
}

.GalleryViewItem .image_slot IMG {
    object-fit: cover;
    max-height:256px;
    max-width:256px;
}

.GalleryViewItem .footer {
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.GalleryViewItem .footer .reposition_action {
    /*display: none;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*position: absolute;*/
}
.GalleryViewItem .footer [action] {
    width:1.5em;
    height:1.5em;
    display:inline-block;
    background-size:contain;
    /*box-sizing: border-box;*/
}
.GalleryViewItem .footer [action="First"] {
    background-image: url("../images/list_actions/item_move_top.png");
    background-position: center center;

}

.GalleryViewItem .footer [action="Last"] {
    background-image: url("../images/list_actions/item_move_bottom.png");
    background-position: center center;

}

.GalleryViewItem .footer [action="Previous"] {
    background-image: url("../images/list_actions/item_move_left.png");
    background-position: center center;

}

.GalleryViewItem .footer [action="Next"] {
    background-image: url("../images/list_actions/item_move_right.png");
    background-position: center center;

}

