
.GalleryTape .contents {

    display: table;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
    width: 100%;
    table-layout: fixed;

}

.GalleryTape .contents .button {
    display: table-cell;

    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    position: relative;

    background-position: center center;
    width: 32px;
    min-height: 44px;
}

.GalleryTape .contents .button.left {
    background-image: url("../images/gallery_tape_left.png");
}

.GalleryTape .contents .button.right {
    background-image: url("../images/gallery_tape_right.png");
}


.GalleryTape .contents .viewport {
    display: table-cell;
    width:100%;
    vertical-align: middle;
    overflow:hidden;
}

.GalleryTape .contents .viewport .slots {
    display: block;
    vertical-align: middle;
    position: relative;
    /*overflow: hidden;*/
    white-space: nowrap;
}

.GalleryTape .contents .viewport .slots .slot {

    /*background-color: #f2f2f2;*/
    padding: 5px;

    display: inline-block;

    vertical-align: middle;

    border: 1px solid #dcdedb;
    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;

    position: relative;
    /*   float:left; */
}

.GalleryTape .contents .viewport .slots .slot IMG {
    /*border: 1px solid #dcdedb;*/
    display: block;
}
