
.InputLabel {
    font-size: 100%;
    align-items:flex-start;
}

.InputLabel .required {
    color: rgba(255, 0, 170, 0.62);
    font-weight: bold;
    font-family: monospace;
}

.InputLabel[error="1"] {
    color: rgba(255, 0, 170, 0.62);
}


.InputField {
    margin: 0;
    outline: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;

    display:flex;

    flex-direction:column;
    align-items:flex-start;
}

.InputField * {
    font-size:100%;
}

.InputField > .Caption:first-child {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    padding: 5px;
    align-self:stretch;
}

.InputField INPUT, TEXTAREA {
    outline: 0;
    margin: 0;
    padding: 0.2em;

    background-color: white;

    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.InputField.TextArea TEXTAREA {
    resize: vertical;
}

.InputField SELECT {
    padding: 0.2em;
}

.InputField.TextField, .InputField.PasswordField, .InputField.TextArea  {
    align-items:stretch;
}

.InputField .FieldElements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.5em;

    align-items:center;
}

.InputField .DataIteratorItem {
    display:flex;
    flex-direction: row;
    align-items: center;

    gap:0.1em;
    font-size:95%;
}

.InputField INPUT[type='checkbox'], INPUT[type='radio'] {
    width: 1.2em;
    height: 1.2em;
}


.InputField.DateField .CalendarControl {
    position: relative;
    cursor: pointer;

    padding: 0;
    margin: 0;
}

.InputField.DateField .CalendarControl IMG {
    padding: 0;
    margin: 0;
    border: 0;
}


.InputField.PhoneField .PhonePart.CountryCode {
    width: 2.5em;
    min-width: 2.5em;
}

.InputField.PhoneField .PhonePart.CityCode {
    width: 2.5em;
    min-width: 2.5em;
}

.InputField.PhoneField .PhonePart.PhoneNumber {
    width: 5em;
    min-width: 5em;;
}


