.ItemView {
    display: inline-grid;
    flex-direction: column;
    align-items: flex-start;
}

.ItemView .viewport {

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    list-style-type: none;
    margin:0;
    padding:0;
    /*justify-content: space-around;*/
}
