
.Dialog.JSONFormDialog .Inner .Content {
    flex-direction:column;
    align-items:flex-start;
}

.Dialog.JSONFormDialog .Inner .Content FORM {

}
.Dialog.JSONFormDialog .Inner .Content FORM .InputComponent {
    align-self:stretch;
    align-items:stretch;
}
.Dialog.JSONFormDialog[loading] .Inner .Content {
    align-items:center;
}

.Dialog.JSONFormDialog .Inner .Content FORM .Caption {
    color:black;
    display:inline-block;

    white-space:break-spaces;
    text-transform: none;
    font-size:100%;
}

/*loader animation*/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #000000;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
