
.KeywordSearchComponent {
    display: inline-block;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.KeywordSearchComponent .FormRenderer {
    border-spacing: 0.25em;
}

.KeywordSearchComponent .InputComponent {
    display: inline-block !important;
    vertical-align: top;
}

.KeywordSearchComponent .Container {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.KeywordSearchComponent .Container.SubmitLine {
    display: inline-block;
}

.KeywordSearchComponent .Container.TextSpace {
    display: none;
}
