
.Dialog.MCEImageBrowserDialog .Inner .Content {
    flex-direction:column;
}


.MCEImageBrowserDialog .ImageStorage .Element {
    display: inline-block;
    margin-top: 0.5em;
    margin-left:0.5em;
    margin-right:0.3em;
    margin-bottom:0.2em;

    box-sizing: border-box;

    position: relative;
    vertical-align: top;
}

.MCEImageBrowserDialog .ImageStorage .Element IMG {
    display: block;
    cursor:pointer;
}

.MCEImageBrowserDialog .ImageStorage .Element[selected] {
    border: 1px solid black;
}


.MCEImageBrowserDialog .ImageStorage .Element .remove_button {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 25px;

    position: absolute;
    left: 0;
    top: 0;
    margin-left: -0.5em;
    margin-top: -0.5em;

    background-color: white;
    background-image:url("../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    cursor: pointer;
}


.ImageDimensionComponent .preview {
    display: inline-block;
    vertical-align: top;
    margin-right:0.5em;
}

.ImageDimensionComponent .dimension {
    display: inline-block;
    vertical-align: top;
}
