.MCEImageBrowserDialog {
    max-height:90%;
}
.MCEImageBrowserDialog .Contents .Text {

    border: 1px dotted green;
    display: table !important;
    width:100%;
    height:100%;
}

.MCEImageBrowserDialog .Contents .Text FORM {
    display: table-row;
}

.MCEImageBrowserDialog .Contents .Text FORM .InputComponent {
    display: table-cell;
    vertical-align: top;
    margin-right: 10px;
}
.MCEImageBrowserDialog .Contents .Text FORM .InputComponent .InputLabel {
    display:none;
}

.MCEImageBrowserDialog .Contents .Text .ImageStorage {
    display: table-row;
}



.MCEImageBrowserDialog .ImageStorage .Viewport {
    display: table-cell;
    height:100%;
    max-height:100%;
    width:100%;
}

.MCEImageBrowserDialog .ImageStorage .Viewport .Collection {
    display:inline-block;

}

.MCEImageBrowserDialog .ImageStorage .Collection .Element {
    display: inline-block;
    margin: 10px;
    padding: 2px;
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    position: relative;
}

.MCEImageBrowserDialog .ImageStorage .Collection .Element IMG {
    display: block;
}

.MCEImageBrowserDialog .ImageStorage .Collection .Element[selected] {
    border: 1px solid black;

}


.MCEImageBrowserDialog .ImageStorage .Collection .Element .remove_button {
    color: white;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    position: absolute;

    left: 0px;
    top: 0px;
    margin-left: -10px;
    margin-top: -10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */

    padding-right: 1px;

    font-size: 12px;
    font-family: "Consolas", "Mono";

    font-weight: bold;
    text-transform: lowercase;

    cursor: pointer;
}


.ImageDimensionComponent .preview {
    display: inline-block;
    vertical-align: top;
}

.ImageDimensionComponent .dimension {
    display: inline-block;
    vertical-align: top;
}