.MenuBar {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-flow: row nowrap;

}

.MenuBarComponent {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/

    background-color: white;
    position: relative;
    /*above mce*/
    z-index:10;
}

.MenuBarComponent .MenuBarItemRenderer {
    display: flex;
    /*justify-content: center;*/
    /*align-items:center;*/

    padding:0.5em;

    cursor: pointer;
    position: relative;
    color:black;
}

.MenuBarComponent .MenuBarItemRenderer .MenuItemOuter {
    /*pass through contents to the parent flex*/
    display:contents;
    position: relative;
}

.MenuBarComponent .MenuBarItemRenderer .MenuItemLink {
    color: inherit;
    text-decoration: none;

}

.MenuBarComponent .MenuBarItemRenderer.Hover {
    background-color: black;
    color: white;
}

.MenuBarComponent .MenuBarItemRenderer.Hover .MenuItemLink {
    color: inherit;
}

.MenuBarComponent .MenuBarItemRenderer[active="1"] .MenuItemLink {
    font-weight:bold;
}

.MenuBarComponent .MenuBarItemRenderer[active="1"].Hover .MenuItemLink {

}

.MenuBarComponent .MenuBarItemRenderer .handle {
    display: none;
    width:15px;
    height:15px;
}

.MenuBarComponent .MenuBarItemRenderer .handle[data-line]:before {
    content: attr(data-line);
    display: none;
}

.SubmenuRenderer {

    display: none;

    position: absolute;
    white-space: nowrap;

    background-color: white;

    border: 1px solid black;
    text-align: left;

    flex-direction: column;

}

.SubmenuRenderer.normal {
    display: flex;
}

.SubmenuItemRenderer[selected="1"] {
    text-decoration:underline;
}



/*all SubmenuItemOuter with parent SubmenuItemRenderer*/
.SubmenuItemRenderer > .SubmenuItemOuter {
    padding:0.5em;
}

.SubmenuItemRenderer.Hover > .SubmenuItemOuter {
    background-color: black;
    color: white;
    text-decoration: none;
}

.SubmenuItemRenderer > .SubmenuItemOuter .SubmenuItemLink {
    color: black;
    text-decoration: inherit;
}

.SubmenuItemRenderer.Hover > .SubmenuItemOuter .SubmenuItemLink {
    color: inherit;
    text-decoration: inherit;
}


.SubmenuItemRenderer > .SubmenuItemOuter .handle {
    text-align: right;



    padding-left: 0.2em;
    padding-right: 0.2em;
}
.SubmenuItemRenderer > .SubmenuItemOuter .handle[data-line]:before {
    content: attr(data-line);
}

.SubmenuItemRenderer.Hover > .SubmenuItemOuter .handle {

}



.MenuBar .toggle {

    display:none;

    cursor:pointer;

    background-image:url(../images/menu.svg);
    background-size:cover;

    margin:5px;

    max-height:24px;
    max-width:24px;

    min-height:24px;
    min-width:24px;

    height:24px;
    width:24px;

    box-sizing: border-box;

}