
.PopupPanel.MessageDialog {
    box-sizing: border-box;
}

.MessageDialog.resizable {


}

.MessageDialog.resizable .resizer {
    width: 20px;
    height: 20px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: transparent;
    border: 1px solid #4286f4;
    position: absolute;

}

.MessageDialog.resizable .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize; /*resizer cursor*/
}

.MessageDialog.resizable .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.MessageDialog.resizable .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.MessageDialog.resizable .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.MessageDialog .Inner {

    background-color: #eeeeee;

    height: 100%;
    width: 100%;

    display: table;

    box-sizing: border-box;

    /*border-collapse: collapse;*/

    border-spacing: 0.2em;

    border-color: greenyellow;
}

.MessageDialog .Inner .Header {
    display: table-row;
}

.MessageDialog .Inner .Center {
    display: table-row;
    height: 100%;

}

.MessageDialog .Inner .Footer {
    display: table-row;

}

.MessageDialog .Header .Caption {

    font-weight: bold;
    font-size: 1.1em;

    color: white;

    background-color: #525252;

    cursor: move;

    display: table-cell;

    box-sizing: border-box;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    padding: 0.3em;
}

.MessageDialog .Header .Caption .Title {
    display: block;

}


.MessageDialog .Center .Contents {

    padding: 0.5em;

    display: table-cell;

    vertical-align: top;

}

.MessageDialog .Center .Contents .Icon {
    width: 64px;
    height: 64px;

    vertical-align: top;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.MessageDialog[type=""] .Icon {
    display: none !important;
}

.MessageDialog[type="Info"] .Icon {
    background-image: url("../images/msgpopup/exclamation.png");
    display: inline-block;
}

.MessageDialog[type="Question"] .Icon {
    background-image: url("../images/msgpopup/exclamation.png");
    display: inline-block;
}

.MessageDialog[type="Error"] .Icon {
    background-image: url("../images/msgpopup/exclamation.png");
    display: inline-block;
}

.MessageDialog .Center .Contents .Text {
    display: inline-block;
}

.MessageDialog .Center .Contents .Text .exception_link {
    display: block;
    color: red;
    font-weight: bold;
}

.PopupPanel .Center .Contents .Text .exception_details {
    display: none;
    visibility: hidden;
}


.MessageDialog .Footer .Container.Buttons {
    display: table;
    text-align: right;
    border-spacing: 0.5em;
    border-collapse: separate;
    width: 100%;
}

.MessageDialog .Inner .Container.Buttons > * {
    display: table-cell;
    margin-left: 0.3em;
}