
.PhraseTranslationDialog .Contents .Text {
    width:100%;
    height:100%;
}
.PhraseTranslationDialog .Contents TABLE {

    width:100%;
    height:100%;
}

.PhraseTranslationDialog .Contents TABLE .cell {
    display:table-cell !important;
}

.PhraseTranslationDialog .Contents TABLE .cell.translation {
    height:100%;
}

.PhraseTranslationDialog .Contents TABLE TEXTAREA {

    background: white;
    color: black;

    width: 100%;
    min-width:100%;
    height:100%;

    box-sizing: border-box;

    display:block;
    resize: none;
}

.PhraseTranslationDialog .Contents TEXTAREA[name='phrase'] {

}

.PhraseTranslationDialog .Contents TEXTAREA[name='translation'] {

}

.PhraseTranslationDialog .Contents .Container.Buttons [action='Translate'] {
    float: left;
}

.PhraseTranslationDialog .Contents .Container.Buttons [action='Close'] {
    float: right;
}