.InputField.PlainUpload {

    background-color: transparent;
    border: 0;

}

.InputField.PlainUpload .FieldElements {


}

.InputField.PlainUpload .Details {
    display: block;

}

.InputField.PlainUpload .Details .Caption {

}

.InputField.PlainUpload .Details .Limits {
    display:block;
}

.InputField.PlainUpload .Details .Limits SPAN {
    display: inline-block;
    font-size: 80%;
}

.InputField.PlainUpload .Details .Limits LABEL {
    display: inline-block;
    font-size: 80%;
}

.InputField.PlainUpload .Details .Limits [field='max_post_size'] {
    display: none;
}

.InputField.PlainUpload .Details .Limits [field='memory_limit'] {
    display: none;
}


.InputField.PlainUpload .Controls {
    display: inline-block;

    position: relative;

    cursor: pointer;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    min-width: 100%;
    min-height: 2em;

    text-align: center;

}

.InputField.PlainUpload .Controls BUTTON {

    vertical-align: middle;

    text-align: center;

    position: absolute;
    left: 0;
    top: 0;


}

.InputField.PlainUpload .Controls INPUT[type="file"] {

    width: 100%;
    height: 100%;

    -moz-opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.InputField.PlainUpload .Controls.working INPUT[type="button"] {
    visibility: hidden;
}

.InputField.PlainUpload .Controls.working BUTTON[value="browse"] {
    visibility: hidden;
}


.InputField.PlainUpload  {
    display: block !important;
    vertical-align: top;
}

.InputField.PlainUpload .Element {
    display: block !important;
    vertical-align: top;
    position: relative;
}

.InputField.PlainUpload .Element .thumbnail {

    display: inline-block;
    vertical-align: top;

}

/* file upload control */


.InputField.PlainUpload.FileField .Element .details {
    display: inline-block;
    vertical-align: top;
}

.InputField.PlainUpload.FileField .Element .filename {
    display: block;
}

.InputField.PlainUpload.FileField .Element .filesize {
    display: block;
    font-size:70%;
}
