/*latest news*/
.PublicationsComponent .ItemView  {
    display:block;
}
.PublicationsComponent .ItemView .viewport {
    display:table;
    border-spacing: 0;
    width:100%;
}

.PublicationsComponent .ItemView .item {
    display: table-row;
    text-decoration: none;
}

.PublicationsComponent .ItemView .item .cell {
    display: table-cell;
    vertical-align: top;
    padding-bottom:0.5em;
}

.PublicationsComponent .ItemView  .item .cell.image {

}

.PublicationsComponent .ItemView  .item .cell.image IMG {
    display: block;
}

.PublicationsComponent .ItemView .item .cell.details {
    width:100%;
    box-sizing: border-box;
    padding-left:0.3em;
}
.PublicationsComponent .ItemView .item .cell.details SPAN {
    display: block;
    text-decoration: none;
    color: black;
}

.PublicationsComponent .ItemView  .item .cell.details SPAN.Title {
    font-size: 100%;
    font-weight: bold;
}

.PublicationsComponent .ItemView  .cell.details SPAN.date {
    font-size: 50%;
    font-style: italic;

}


/*archive items*/

.PublicationsComponent .archive {

    display:block;
}

.PublicationsComponent .archive .archive_year {
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.PublicationsComponent .archive .archive_year A {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.PublicationsComponent .archive .months {
    display: none;
}
.PublicationsComponent .archive .months.active {
    display:block;
}

.PublicationsComponent .archive .months .list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5em;
    /*padding-top:0.5em;*/
    /*padding-bottom:1em;*/
}
.PublicationsComponent .archive .months .list .item {
    text-transform:capitalize;
}

.PublicationsComponent .archive .months .list a.item {

    text-transform:capitalize;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.PublicationsComponent .archive .months .list a.item[selected] {
    text-decoration: underline;
    text-transform:capitalize;
}