/*latest news*/
.Publications.latest {
    display:block;
}

.Publications.latest .viewport {
    display:flex;
    flex-direction: column;
    gap:0.5em;
}

.Publications.latest .viewport .item {
    display: flex;
    flex-direction: row;
    gap:0.5em;
}

.Publications.latest .viewport .item .thumbnail {

}

.Publications.latest .viewport .item .thumbnail .Image {
    display:block;
}

.Publications.latest .viewport .item .details {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: black;

}

.Publications.latest .viewport .item .details .title {
    font-size:100%;
    /*font-weight: bold;*/
}

.Publications.latest .viewport .item .details .date {

    font-size: 80%;
    font-style: italic;
}


/*archive items*/

.DatedArchive {
    display:flex;
    flex-direction: column;
    gap:0.5em;
    overflow: hidden;
    margin-top:1em;
}

.DatedArchive .year {
    display:flex;
    flex-direction: column;
}

.DatedArchive .year .label {
    display:block;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.DatedArchive .year.open .label {
    text-decoration: underline;
}

.DatedArchive .year.open .months {
    display: grid;
}

.DatedArchive .year .months  {
    display: none;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5em;
    animation: flowFromLeft 0.2s ease-in-out forwards;
}

.DatedArchive .year .months .item {
    text-transform:capitalize;
    text-decoration:none;
    color: black;
    font-weight: normal;
}

.DatedArchive .year .months A.item:any-link {
    font-weight: bold;
    text-decoration: none;
}

.DatedArchive .year .months A.item.selected:any-link {
    font-weight: bold;
    text-decoration: underline;

}
/**/
.DatedItem  {
    display:flex;
    flex-direction: column;
}
.DatedItem .title {
    display:block;
    /*padding-right:1em;*/
}
.DatedItem .date {
    font-style: italic;
}
.DatedItem .thumbnail {
    display:block;

}

.DatedItem .thumbnail .Image {
    display:block;
    max-width: 100%;
    width:100%;
}

.DatedItem .content {
    font-style: italic;
    padding-right:1em;
}