.InputField.SessionUpload {

    background-color: transparent;
    border: 0;
    padding: 0;
}

.InputField.SessionUpload .FieldElements {


}

.InputField.SessionUpload .Details {
    display: block;

}

.InputField.SessionUpload .Details .Caption {

}

.InputField.SessionUpload .Details .Limits {
    display: block;
}

.InputField.SessionUpload .Details .Limits SPAN {
    display: inline-block;
    font-size: 80%;
}

.InputField.SessionUpload .Details .Limits LABEL {
    display: inline-block;
    font-size: 80%;
}

.InputField.SessionUpload .Details .Limits [field='max_post_size'] {
    display: none;
}

.InputField.SessionUpload .Details .Limits [field='memory_limit'] {
    display: none;
}


.InputField.SessionUpload .Controls {
    display: block;

    position: relative;

    cursor: pointer;

    margin-top: 5px;

}

.InputField.SessionUpload .Controls .Buttons {
    display: inline-block;
    position: relative;
}

.InputField.SessionUpload .Controls[working] .Buttons {
    display: none;
}

.InputField.SessionUpload .Controls .Buttons BUTTON {

    vertical-align: middle;

    text-align: center;

    left: 0;
    top: 0;

}

.InputField.SessionUpload .Controls .Buttons INPUT[type="file"] {

    width: 100%;
    height: 100%;

    -moz-opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.InputField.SessionUpload .Controls .Progress {
    display: none;
    position: relative;
    border: 1px solid #555;
    border-radius: 0.2em;
}

.InputField.SessionUpload .Controls[working] .Progress {
    display: block;
}

.InputField.SessionUpload .Controls .Progress .bar {
    background-color: #b4f5b4;
    width: 0;
    height: 100%;

    border-radius: 0.2em;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.InputField.SessionUpload .Controls .Progress .percent {

    display: block;

    font-size: 0.5em;
    text-align: center;

    position: relative;
    z-index: 1;

    vertical-align: middle;

    padding: 0.3em;
}


.InputField.SessionUpload .ArrayContents {
    display: block !important;
    vertical-align: top;
    margin-top: 15px;

}

.InputField.SessionUpload .ArrayContents .Element {
    display: inline-block !important;
    vertical-align: top;
    position: relative;
    margin-left: 10px;
}

.InputField.SessionUpload .ArrayContents .Element .thumbnail {

    display: inline-block;
    vertical-align: top;

    margin-right: 10px;
    margin-bottom: 10px;

}

.InputField.SessionUpload .ArrayContents .Element .remove_button {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px;
    background-color: black;
    color: #ffffff;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    position: absolute;

    left: 0px;
    top: 0px;
    margin-left: -10px;
    margin-top: -10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */

    padding-right: 0px;

    font-size: 12px;
    font-family: "Consolas", "Mono";

    font-weight: bold;
    text-transform: lowercase;

    cursor: pointer;
}

/* file upload control */

.InputField.SessionUpload.SessionFile .ArrayContents {

}

.InputField.SessionUpload.SessionFile .ArrayContents .Element {

    display: block !important;

}


.InputField.SessionUpload.SessionFile .ArrayContents .Element .thumbnail {
    margin-right: 0;
    display: inline-block;
}

.InputField.SessionUpload.SessionFile .ArrayContents .Element .details {
    display: inline-block;
}

.InputField.SessionUpload.SessionFile .ArrayContents .Element .filename {
    display: block;
}

.InputField.SessionUpload.SessionFile .ArrayContents .Element .filesize {
    display: block;
    font-size: 70%;
}
