:root {
    /*--spark-tooltip-background: rgba(5, 32, 55, 0.9);*/
    --spark-tooltip-background: rgba(0,0,0, 0.85);
    --spark-tooltip-color: white;
}

* {
    font-family: "Exo 2", "sans-serif";
}

HTML {
    height: 100%;
}

BODY {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

A IMG INPUT {
    border: none;

}
H1 {
    margin:0;
}
.clear {
    clear: both;
}


.TooltipPanel {
    /*background-color: black;*/
    padding: 0.7em;

    position: absolute;
    left: 0;
    top: 0;

    background: var(--spark-tooltip-background);
    color: var(--spark-tooltip-color);

    border-radius: 0.25em;
    z-Index: 200;

    display: none;

}