.TableView {
    display: inline-block;
}


.TableView .viewport {
    border-collapse: collapse;
    width: 100%;
}


.TableView .viewport .HeaderCellRenderer {

    text-align: center;

    border: 1px solid #aeaeae;
    background-color: #e7e7e7;

    white-space: normal;
    color: #537689;

    padding: 0.3em !important;

    vertical-align:middle;

}

.TableView .viewport .HeaderCellRenderer A {

    color: #537689;
}

.TableView .viewport .TableCellRenderer {


    text-align: left;
    vertical-align: middle;

    padding-left: 0.3em;
    padding-right: 0.3em;

    padding-top:0;
    padding-bottom:0;
}

.TableView .viewport .TableCellRenderer.center {
    text-align:center;
}

.TableView .viewport .TableCellRenderer.left {
    text-align:left;
}

.TableView .viewport .TableCellRenderer.right {
    text-align:right;
}

.TableView .viewport TR.odd .TableCellRenderer {
    background-color: #f3f6fb;
    border: 1px solid #aeaeae;

}

.TableView .viewport TR.even .TableCellRenderer {
    border: 1px solid #aeaeae;
    background-color: white;

}

.TableView .viewport .ImageCellRenderer {

    vertical-align: middle;
    text-align: center;
}

.TableView .viewport .BooleanCellRenderer {

    vertical-align: middle;
    text-align: center;

}

.TableView .viewport .ActionsCellRenderer {

    line-height: 180%;
    text-align: center;
    color: #50a9f9;
    white-space: nowrap;

}

.TableView .viewport .ActionsCellRenderer .pipe_separator {
    color: #cccccc;
}


.TableView .viewport .ActionsCellRenderer .actions_list {
    display: inline-block;
    text-align: left;
}

.TableView .viewport .ActionsCellRenderer .actions_list>* {

}

.TableView .viewport .ColorCodeCellRenderer {
    text-align: center;
}

.TableView .viewport .ColorCodeCellRenderer .color_value {
    display: inline-block;

    min-width: 48px;
    min-height: 48px;

}

.TableView .HeaderCellRenderer .direction {

    display:inline-block;
    box-sizing:border-box;

    min-width:15px;
    min-height:15px;

    width:15px;
    height:20px;

    margin-left:5px;

    background-repeat:no-repeat;

    background-position: 50% 50%;
    background-size:contain;
    filter: invert(.5);

    vertical-align: bottom;
}

.TableView .HeaderCellRenderer .direction[direction="ASC"] {
    background-image:url(../images/icon_sort_asc.svg)
}
.TableView .HeaderCellRenderer .direction[direction="DESC"] {
    background-image:url(../images/icon_sort_desc.svg)
}