.TableView {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.TableView .viewport {
    display: inline-grid;
    /*grid-template-columns: auto;*/
}
.TableView .viewport .Cell {
    border: 0.1em solid #aeaeae;
    align-items: center;
    align-content: center;
    text-align: center;

    padding:0.3em;
}
/*alternating columns*/
.TableView .viewport > .Cell:nth-child(odd) {
    /*background-color: #f3f6fb; !* light gray *!*/
}

.TableView .viewport > .Cell:nth-child(even) {
    /*background-color: red; !* gray *!*/
}

.TableView .viewport .Cell[parity='even'] {

}
.TableView .viewport .Cell[parity='odd'] {
    background-color: #f3f6fb;
}

.TableView .viewport .Header {
    background-color: #e7e7e7;
    align-content: center;
    text-align: center;

    color: #537689;
    font-weight:bold;
}
.TableView .viewport .Header A {
    color: inherit;
}
.TableView .viewport .Cell.center {
    text-align:center;
}
.TableView .viewport .Cell.left {
    text-align:left;
}
.TableView .viewport .Cell.right {
    text-align:right;
}

.TableView .viewport .Header .direction {

    display:inline-block;
    box-sizing:border-box;

    min-width: 1em;
    min-height: 1em;

    width: 1em;
    height: 1em;

    margin-left: 0.2em;

    background-repeat:no-repeat;

    background-position: center center;
    background-size:contain;
    filter: invert(.5);

    vertical-align: bottom;
}

.TableView .viewport .Header .direction[direction="ASC"] {
    background-image:url(../images/icon_sort_asc.svg)
}
.TableView .viewport .Header .direction[direction="DESC"] {
    background-image:url(../images/icon_sort_desc.svg)
}

.TableView .viewport .Cell .actions_list {
    white-space: nowrap;
}

.TableView .viewport .ActionsCellRenderer .actions_list>* {

}