
.MenuBar {
    /*         border-radius:0px 0px 0px 10px; */
}

.MenuBar .toggle {

    display: inline-block;

    text-align: right;

    box-sizing: border-box;

    min-height: 35px;
    margin-right: 5px;
    margin-left: 5px;

}

.MenuBar .toggle {
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    width:1.5em;
}

.MenuBar .toggle:after,
.MenuBar .toggle:before,
.MenuBar .toggle DIV {
    background-color: #000;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 5px 0;
}


.MenuBar .MenuSeparator {
    display: none !important;
}

.MenuBar .MenuBarComponent {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;

}

.MenuBar .MenuBarComponent .SubmenuRenderer {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}


.MenuBar .MenuBarComponent {
    display: none;
}

.MenuBar.normal .MenuBarComponent {
    display: block;
}

.MenuBar .MenuBarComponent .MenuBarItemRenderer {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #efefef;
}

.MenuBar .MenuBarComponent .MenuBarItemRenderer .MenuItemLink {
    padding-left: 5px;
    padding-right: 5px;

}

.MenuBar .MenuBarComponent .MenuBarItemRenderer .MenuItemOuter .handle {
    padding-left: 5px;
    padding-right: 5px;

}

.MenuBarComponent .MenuBarItemRenderer.Hover > .handle {
    color: white;
}

.MenuBar .MenuBarComponent .MenuBarItemRenderer .SubmenuItemRenderer.Hover > .SubmenuItemOuter .handle {
    color: white;
}

.MenuBar.normal .MenuBarItemRenderer {
    display: block !important;
    text-align: left;
}

.MenuBar .SubmenuRenderer {
    position: relative !important;
    background-color: #e9e9e9;
    border: none;
    /*         border-bottom:1px dotted black; */
}

.MenuBar .SubmenuRenderer.normal {
    display: block;
    left: auto !important;
    top: auto !important;
}

.MenuBar .MenuBarComponent .MenuBarItemRenderer .handle {
    display: inline-block;
    float: right;

}

.MenuBar .MenuBarComponent .MenuBarItemRenderer .handle[data-line]:before {
    content: attr(data-line);
}

