.MenuBar {
    /*left align the toggle*/
    justify-content: flex-start;
}

.MenuBar .toggle {
    /*is inside flex container*/
    display:initial;
}

/*hide the menu component by default*/
.MenuBarComponent {
    display: none;
}

/*hamburger menu is open - have class .normal */
.MenuBar.normal .MenuBarComponent {
    display: flex;

    position: absolute;

    /*center on viewport*/
    left: 50%;
    transform: translateX(-50%);

    /*below hamburger menu*/
    top: calc(100%);

    flex-direction: column;
    align-items: flex-start;

    /*!*/
    /*viewport width*/
    width: calc(100vw);
    height: auto;

    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}

.MenuBar.normal .MenuBarComponent .MenuBarItemRenderer {

    align-items:flex-start;
    align-self: stretch;
    justify-content: flex-start;

    flex-direction:column;
    flex-wrap:wrap;
}

.MenuBar.normal .MenuBarComponent .MenuBarItemRenderer[have_submenu="1"] {
    padding-bottom:0;
    padding-right:0;

}

.MenuBar.normal .SubmenuRenderer {

    position: relative;
    background-color: white;
    border: none;

    display:flex;
    flex-direction:column;
    align-items: flex-start;
    align-self:stretch;

    padding:0;
    padding-left:0.5em;

    margin-top:0.5em;
}

.MenuBar.normal .SubmenuItemRenderer {
    color: black;
    /*border-top: 1px dotted gray;*/
}
.MenuBar.normal .SubmenuItemRenderer:first-of-type {
    border-top: none;
}

